body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    background: #fffdfa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("bb0.png"); /* เปลี่ยนชื่อไฟล์ตามที่รัก */
    background-size: cover;          /* ขยายเต็มจอ */
    background-repeat: no-repeat;    /* ไม่ให้ซ้ำ */
    background-position: center;     /* จัดรูปให้อยู่ตรงกลาง */
    background-attachment: fixed;    /* ภาพติดอยู่กับที่ */

}

/* กล่อง Login */
.login-container {
    background: white;
    padding: 40px 50px;
    width: 380px;
    border-radius: 15px;

    border: 3px solid #d9c47a;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    color: #a6863a;
    font-size: 28px;
    margin-bottom: 25px;
}

/* ฟอร์ม */
label {
    font-size: 16px;
    color: #6b5323;
    margin: 10px 0 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;

    border: 2px solid #d9c47a;
    background: #fffdf5;
    margin-bottom: 20px;
    font-size: 16px;
}

input:focus {
    border-color: #c19a43;
    outline: none;
}

/* ปุ่ม Login */
button {
    width: 100%;
    padding: 12px;
    background: #c39b3f;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e3c06b;
    transform: translateY(-2px);
}

/* ข้อความลิงก์สมัคร */
.register-text {
    text-align: center;
    margin-top: 15px;
    color: #5e4a16;
}

.register-text a {
    color: #b2882b;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

.back-home {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 18px;
    background: rgba(255, 255, 255, 0.8);
    color: #b2882b;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    transition: 0.25s;
}

.back-home:hover {
    background: white;
    transform: translateY(-3px);
}
